<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.demonapps.onlineradio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">

        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Proga"
            android:exported="false"
            android:label="@string/proga"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Video"
            android:configChanges="orientation|screenSize"
            android:label="@string/video"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Onas"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:label="@string/group"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".OtherApps"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:label="@string/otherApps"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Zastavka"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notif" />
    </application>

</manifest>